/*a:link{
	color:red;
}
a:visited{
	color:brown;
}*/
a{
	display:block;
	width:200px;
	height: 50px;
	background:blue;
	color: #fff;
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	padding-top:10px;
	box-sizing:border-box;
	border-radius:15px;
}
a:hover{
	background:#4444cc;
}
a:active{
	background:#2222cc;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}